doctype html
html
  include includes/head.pug
  body

    div(class="container")
      div(class="panel card-container")
        form(action="/complete", method="post")
          p
            strong The site at #{client} requires access to the following information:
          ul(class="list-group")
            each val in require
              li(class="list-group-item")= val
          p
            strong In addition, you may choose to provide the following optional values:
          ul(class="list-group")
            each val in request
              label(for="allow.#{val}")
                li(class="list-group-item")
                  input(type='checkbox' name='allow[#{val}]' id="allow.#{val}" checked)
                  |  #{val}
          p(class="text-center")
            input(type="submit", class="btn btn-success", name="result", value="Approve")
            | &nbsp;
            input(type="submit", class="btn btn-danger", name="result", value="Reject")

    include includes/foot.pug